@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500&display=swap');*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*background: #212121;*/
  
  font-family: 'Roboto Mono', monospace;
  font-weight: 900;
  /*color: #ffff;*/
  
}

body {
  width: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
  background: #CDC6BE;
  
}

#inputID::placeholder {
  color: #B6B6B6;
  opacity: 1;
  font-size: 20px;
  font-weight: 300;
}